.form_button{
  position:relative;
  width: 10rem;
  height: 2rem;
}

.form_button a{
  position: absolute;
  line-height: 2rem;
  text-decoration: none;
  width: 100%;
  height:100%;
  border:solid 1px #aaa;
  background-color:#aaa;
  color: #fff;
  text-align:center;
  transition-property: background-color,color;
  transition-duration: 0.1s;
  transition-timing-function: linear,linear;
}

.form_button a:hover{
  background-color: #ddd;
  color: #555;
}
